<%= form_with(model: @blog, local: true, url: choose_new_or_edit ) do |form| %>
    <% if @blog.errors.any? %>
        <ul style="color: red">
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= form.label :title %>
      <div class="blog_title">
        <%= form.text_field :title %>
      </div>
      <%= form.label :content %>
      <div class="blog_content">
        <%= form.text_field :content %>
      </div>
      <%= form.submit "Valider"%>
<% end %>
<br>
<%= link_to "Liste de blogs", blogs_path %>